@charset "utf-8";
/* CSS Document */

#header{
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center;
	height:30%;
}




#footer_text{
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center;"
}

